@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

article {
    width: 60vw;
    height: 100vh;
    margin-left: auto;
    background: url('assets/istockphoto-171574529-612x612.jpg') center/cover no-repeat;
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%);
}

header {
    display: flex;
    width: 100%;
    padding: 2rem 6rem;
    align-items: center;
}

#mobile-nav {
    margin-left: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100%;
    background-color: darkslategray;
    width: 70%;
    padding: 2rem;
    display: none;
}

#menu {
    display: none;
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#mobile-nav ul a {
    text-decoration: none;
    color: #eee;
    font-size: 30px;
}

#close {
    font-size: 25px;
    cursor: pointer;
}


#web-nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}

#web-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
}

#web-nav ul a {
    text-decoration: none;
    color: #000;
    transition: padding 0.2s linear;
}


#web-nav ul a:hover {
    padding: 0.5rem 1rem;
    min-width: 185px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    background-color: aquamarine;
}

main {
    width: 100%;
}

.hero {
    min-height: calc(100vh - 170px);
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    padding-bottom: 3rem;
    width: 100%;
}

.hero>div {
    flex: 1 1 30%;
    max-width: 40%;
}

.right {
    width: 500px;
    height: 400px;
    border-radius: 30px;
    background-image: url('assets/5685523_54737.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.left h1 {
    font-size: 3rem;
}

.cta-box {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.cta-box a,
.nav-donate {
    padding: 0.5rem 1.5rem;
    min-width: 185px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
}

.cta-box a:nth-of-type(1) {
    background-color: aquamarine;
}

.cta-box a:nth-of-type(2) {
    background-color: #fff;
}

.features {
    padding: 6rem 0;
    min-height: 90vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategrey;
    color: #eee;
}

.feature-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
    width: 60%;
    padding: 0 5%;
}

.feature-item {
    flex: 1 1 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    color: #000;
}

.plans {
    width: 100%;
    min-height: 90vh;
    margin-top: 40px;
    padding: 4rem 6rem;
}

.plans>h1 {
    text-align: center;
    margin: 0 auto 80px auto;
    font-size: 2rem;
    border: 10px solid #000;
    width: fit-content;
    padding: 0.8rem 2rem;
    border-left: 5px solid aquamarine;
}

.p-items {
    width: 100%;
    display: flex;
    gap: 25px;
    margin-bottom: 6rem;
}

.p-items>div {
    flex: 1 1 30%;
}

.p-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.p-right a {
    margin-top: auto;
}

.p-left {
    height: 400px;
    background-color: aquamarine;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 30px solid darkslategray;
}

.p-items:nth-of-type(1) .p-left {
    background-image: url('assets/business.jpg');
    background-size: cover;
    background-clip: border-box ;
}

.p-items:nth-of-type(2) .p-left {
    background-image: url('assets/motorcycle.jpg');
    background-size: cover;
    background-clip: border-box ;
}

.p-items:nth-of-type(3) .p-left {
    background-image: url('assets//car-loan.webp');
    background-size: cover;
    background-clip: border-box ;
}

.p-items:nth-of-type(4) .p-left {
    background-image: url('assets/how-do-home-loans-work-2.webp');
    background-size: cover;
    background-clip: border-box ;
}

.how-to {
    min-height: 90vh;
    background-color: darkslategrey;
    padding: 4rem 6rem;
    width: 100%;
}

.how-to>h1 {
    font-size: 2rem;
    color: aquamarine;
    margin-bottom: 1.5rem;
}

.how-to>p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #eee;
}

.how-to i {
    font-size: 3rem;
    position: relative;
    bottom: 80px;
    color: aquamarine;
    border: 1px solid #000;
}

.step-container {
    margin: 50px 0;
    position: relative;
}

.step-container ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.step-container ul li {
    position: relative;
}

.step {
    width: 60px;
    height: 60px;
    background: aquamarine;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 30px;
    z-index: 999;
    position: relative;
    z-index: 5;
}

.step-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}

.step-body h2 {
    color: aquamarine;
}

.step-body p {
    color: #eee;
}

.step::after {
    content: '';
    width: 300px;
    background-color: aquamarine;
    display: block;
    height: 5px;
    position: absolute;
    z-index: -3;
    left: 0;
}

ul:last-child .step::after {
    width: 0px;
}

.how-to-cta {
    padding: 0.5rem 1.5rem;
    min-width: 185px;
    text-align: center;
    text-decoration: none;
    background-color: aquamarine;
    color: #000;
    border: 1px solid #000;
}

.reviews {
    min-height: 100vh;
    padding: 4rem 6rem;
    background-color: rgb(250, 250, 250);
    width: 100%;
}

.reviews>h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.reviews>p {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 30px;
    max-width: 60%;
    color: grey;
}

.swipe-container.swiper {
    padding: 5rem 0;
}

.card__content {
    overflow: hidden;
}

.person {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem 1.5rem;
}

.p-head {
    display: flex;
    gap: 20px;
    align-items: center;
}

.p-head>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.p-head h2 {
    font-size: 1rem;
}

.p-body {
    margin-top: 30px;
}

.p-body p {
    font-size: 1rem;
    color: #6e6e6e;
}


.faq {
    min-height: 90vh;
    padding: 6rem;
    width: 100%;
    background-color: darkslategrey;
}

.faq>h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: aquamarine;
}

.faq>p {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 60%;
    color: grey;
    margin-bottom: 2rem;
    color: #eee;
}

.faq-item {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: #f7f7f7;
}

.faq-question:hover {
    background-color: #ececec;
}

.faq-question {
    background-color: #f7f7f7;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 15px;
    border-radius: 2px 2px 0 0;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 15px;
    border-radius: 0 0 2px 2px;
    background-color: #f7f7f7;
}

.faq-item.active .faq-answer {
    max-height: 700px;
    /* Adjust based on expected content size */
    padding: 15px;
}


.contact {
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    padding: 4rem 6rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-left {
    width: 50%;
    margin: 0 auto 0 0;
    padding: 2rem 0;
}

.c-right {
    width: 50%;
    height: 400px;
    margin: 0 0 0 auto;
    padding: 2rem 0;
    background-image: url('../assets/conatactimg.jpg');
    background-size: cover;
}

.contact h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-left: 0.75rem;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
}

textarea {
    height: 150px;
}

.submit-btn {
    background-color: darkslategray;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    font-family: "Poppins";
}

.submit-btn:hover {
    background-color: rgb(63, 118, 118);
}



/* Footer Styles */
.footer {
    background-color: #2f4f4f;
    color: #fff;
    padding: 2rem 0;
    min-height: 80vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.footer-logo h2 {
    font-size: 2rem;
    color: #eee;
    margin-bottom: 1rem;
    text-align: center;
}

/* Footer Links */
.footer-links {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    align-items: flex-start;
    text-align: left;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #eee;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

/* Social Icons */
.social-icons li {
    display: inline-block;
}

.social-icons li a {
    color: #fff;
    font-size: 1.2rem;
}

.social-icons li a:hover {
    color: rgb(0, 120, 0);
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid #444;
    margin-top: 1rem;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}

/* Swiper class */
.swiper-pagination-bullet {
    background-color: #2f4f4f;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #2f4f4f;
}

/* larger 
screens */

@media (max-width: 1200px) {}

/* medium screens */

@media (max-width: 1120px) {

    /* reduce padding */

    header,
    .hero,
    .features,
    .plans,
    .how-to,
    .reviews,
    .faq,
    .contact {
        padding: 2rem;
    }

    .plans>h1 {
        padding: 0.7rem 1.5rem;
    }

    /* reduce font sizes */

    .plans>h1,
    .left h1,
    .reviews>h1 {
        font-size: 1.8rem;
        max-width: 100%;
    }

    .faq>h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .faq>p {
        font-size: 1rem;
        text-align: center;
        max-width: 100%;
    }

    .reviews>h1 {
        text-align: center;
    }

    .reviews>p {
        font-size: 1rem;
        text-align: center;
        max-width: 100%;
    }

    /* visibility */

    #web-nav {
        display: none;
    }

    #menu {
        display: block;
    }

    .hero .right {
        display: none;
    }

    /* arrangement and size change */

    .hero {
        flex-direction: column;
        margin-top: 60px;
    }

    .hero>div {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .cta-box {
        flex-direction: column;
        width: 100%;
    }

    .p-items {
        flex-direction: column;
    }

    .p-items>div {
        flex: 1 1 100%;
    }

    .step-container ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .how-to {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how-to>p {
        text-align: center;
    }

    .how-to-cta {
        margin: 20px auto;
        text-align: center;
    }



    .step-container ul li,
    .step-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact {
        flex-direction: column;
    }

    .contact>div {
        width: 100%;
    }

    .c-left>h2 {
        text-align: center;
    }

    .c-right {
        height: 250px;
    }

    .footer-links {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 1.5rem;
    }

    .footer-column ul li {
        margin-bottom: 0.75rem;
    }
}

/* mobile screens */

@media (max-width: 480px) {
    .person.swiper-slide {
        min-width: 80%;
    }

    .reviews {
        padding: 1rem 30px;
    }
}